  
Django==3.1.7
django-ckeditor==5.4.0
django-cleanup==2.1.0
django-crispy-forms==1.7.2
django-js-asset==1.0.0
gunicorn==20.1.0
Pillow==7.0.0
python-dateutil==2.8.1
pytz==2020.1
virtualenv==20.4.3
whitenoise==5.0.1
