{% extends "layout.html" %}

{% block body %}

<h3>Hakkımızda</h3>
<hr>
<p>
        Adım Osman Emre Çalışkan. Derin Geek ve Game Wizard'ın kurucusu. Bilecik Şeyh Edebali Üniversitesi
        Bilgisayar Mühendisliği  öğrencisi. 24 Mayıs 2001 tarihinde İstanbul'un Maltepe ilçesinde dünyaya geldim.
        İlkokul ve ortaokul öğrenimini 50.Yıl Besim Kadırgan İlkokul ve yine aynı okulun ortaokulunda tamamladım. Lise öğrenimini bir yıl 
        Dinar Fen Lisesi ve geri kalanını da Kartal Anadolu Lisesinde tamamladım. Üniversiteye ise Bilecik Şeyh Edebali Üniversitesinde devam
        ediyorum. Aynı zamanda Bandai Namco Entertaiments şirketinde bazı oyunların geliştirilmesinde çalıştım.
        Doom , Code Vein , Tales of Series , Hells Gate , Momonga-sama Dont Wory , Excorcist Series gibi ünlü 
        oyunların tasarımlarını ve geliştirilmesinde çalıştım. Şimdilerde ise kendi şirketinde oyun geliştirilmesine devam ediyorum.
</p>
<hr>

{% endblock body %}